{% extends 'layout.html.twig' %}

{% block content %}
    {% include '/Home/_header.html.twig' %}



        <div class="d-flex justify-center">
            <div class="size-2em transparent-container-box">
                <div  class="pink header-transparent-container-box">  <span><a class="button-style nav-pink" href="/" class=""><i class="fas fa-arrow-left"></i></a></span> <span class="margin-button">  <i class="fas fa-list-ol"></i> by ingredient </span></div>
                    {% for i in ingredients %}
                        <a class="list-button-margin" href="/cocktail/result/{{ i.strIngredient1 }}"><span class="button-style pink-blue">{{ i.strIngredient1 }}</span></a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
