<header>

    <div>
        <h1><i class="fa fa-glass glass-to-move" aria-hidden="true"></i> Cocktail hunter </h1>
        <h3>A little party never killed nobody...</h3>
    </div>
    <a href="/"> <img src="/assets/images/leo.gif" alt=""></a>

</header>