{% extends 'layout.html.twig' %}

{% block content %}
    {% include '/Home/_header.html.twig' %}
    <ul class="abc-list">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
{% for i in range('A','Z') %}
    <a  href="/api/abc" class="letter">{{ i }}</a>
    {% endfor %}
    </ul>
{% endblock %}