{% extends 'layout.html.twig' %}

{% block content %}
{% include '/Home/_header.html.twig' %}
<span><a class="button-style nav-green fix-back-button" href="/" class=""><i class="fas fa-arrow-left"></i></a></span>
<div class="d-flex justify-center">
    <div class="size-2em transparent-container-box">
        <div class="yellow header-transparent-container-box">
            <span class="margin-button"><i class="fas fa-sort-alpha-down"></i> by abc <span>
        </div>

        <div class="abc-list-container">
            <div class="abc-container">
                {% for i in range('A','Z') %}
                <a class="list-button-margin-abc" href="/api/abc/{{ i }}" class="letter">
                    <span class="button-style letter-button nav-yellow {% if i == letter %}active-yellow {% endif %}">{{ i }}</span>
                </a>
                {% endfor %}
            </div>
            <div class="list-container">
                {% for i in drinks %}
                <a href="/cocktail/cocktail/{{ i.strDrink|lower }}">
                    <p class="button-style nav-green different-first-letter">{{ i.strDrink }}</p>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}