{% extends 'layout.html.twig' %}

{% block content %}
    {% include '/Home/_header.html.twig' %}

    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
<div class="paper-list">
    <h2> <div class="nav-blue"> <i class="fas fa-list-ol"></i> by ingredientWhat do you have in your fridge? </div> </h2>
<div class="d-flex">
{% for i in ingredients %}
   <div> <i class="fas fa-check"></i><a href="https://www.thecocktaildb.com/api/json/v1/1/filter.php?i={{ i.strIngredient1 }}">{{ i.strIngredient1 }}</a></div>
{% endfor %}
</div>
</div>
{% endblock %}