{% extends 'layout.html.twig' %}

{% block content %}
    {% include '/Home/_header.html.twig' %}
        {% set data = random %}
        {%  include 'Home/_recipe.html.twig' %}
   <div class="random-button-container"><a href="/random/randomcocktail"><div class="button-style nav-green"> <i class="fas fa-random"></i> new random!</div></a></div>
{% endblock %}