
body {
    background-image: url('/assets/images/bg3.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-position: 50% 30%;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


header {
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

header img {
    animation: bordercolors 3s infinite;
    border-radius: 50px;
}

@keyframes bordercolors  {
    0% {border: orangered 1px solid}
    10% {border: deepskyblue 1px solid}
    20% {border: deeppink 1px solid}
    30% {border: yellow 1px solid}
    40% {border: green 1px solid}
    50% {border: blueviolet 1px solid}
    60% {border: whitesmoke 1px solid}
    70% {border: blue 1px solid}
    80% {border: greenyellow 1px solid}
    90% {border: pink 1px solid}
    100% {border: orange 1px solid}

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    color: whitesmoke;
}

nav div {
    background-color: black;
    width: 400px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #888888;
}

a {
    text-decoration: none;
    color:white;
}

nav div:hover {
    box-shadow: 3px 3px 5px 5px #888888;
    background-color: #2d9abf;
    transition: 2s;
}


.glass-to-move {
    animation: glassmove 3s infinite;
    font-size: 1.1em;
}

@keyframes glassmove {
    0%{transform: rotate(0deg)}
   5% {transform: rotate(20deg)}
    15% {transform: rotate(-20deg)}
    25% {transform: rotate(20deg)}
    35% {transform: rotate(-20deg)}
    40% {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
}

.abc-list  {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #888888;
    color:whitesmoke;
    font-family: 'Caveat', cursive;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}
.letter{
    padding: 10px;
    border-radius: 3px;
}

.letter:active{
    box-shadow: 1px 1px 2px 2px #888888;
    background-color: #2d9abf;
    transition: 2s;
}
.letter:hover, .random-button:hover, .fa-home:hover {
    box-shadow: 1px 1px 2px 2px #888888;
    background-color: #2d9abf;
    transition: 2s;
}

.fa-home {
    color: white;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #888888;
    color:whitesmoke;
    padding: 20px;
}

.random-button {
    bottom: 20px;
    left: 20px;
    font-size: 1.8em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 3px #888888;
    color:whitesmoke;
    padding: 20px;
    font-family: 'Caveat', cursive;
    margin-bottom: 20px;

}
.random-button-container{
    display: flex;
    justify-content: center;
}

.cocktail-recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:  url('/assets/images/paper.jpg');
    box-shadow: 1px 1px 3px 3px #555;
    font-size: 1.2em;
    color: midnightblue;
    font-family: 'Caveat', cursive;
    margin: 100px 200px;
    animation: fadein 3s;

}

.recipe-img {
    width: auto;
    height: 400px;
    margin: 50px;
    box-shadow: 1px 1px 3px 3px #555;
}

.recipe-text{
    margin: 50px;
    font-size: 1.7em;

}

.right-recipe {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.7em;
}

.paper-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image:  url('/assets/images/paper.jpg');
    box-shadow: 1px 1px 3px 3px #555;
    font-size: 1.8em;
    color: midnightblue;
    font-family: 'Caveat', cursive;
    margin: 100px 500px;
    animation: fadein 3s;
}

.paper-list ul{
    list-style: none;
}